In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('grafo-flamengo.csv', sep=';', engine='python', encoding='utf-8', error_bad_lines=False)

In [22]:
data.head()

,source,target,text,url
0,MendesNobru,andrizek,"Flamengo jogou uma insana final em Lima, ficou...",https://twitter.com/MendesNobru/status/1200420...
1,IvsonCostaDeAr1,centraldanacao,O clube do vinho vai massacrar o Cruzeiro como...,https://twitter.com/IvsonCostaDeAr1/status/120...
2,IvsonCostaDeAr1,luizfilipecm,Pro Flamengo demitir técnico exigem aviso prév...,https://twitter.com/IvsonCostaDeAr1/status/120...
3,richard_dtb,flamengoloide,"EM 2017, ESSE DOIS JOGADORES, FIZERAM UM VIDEO...",https://twitter.com/richard_dtb/status/1200420...
4,KefaliVictor,andrizek,"Flamengo jogou uma insana final em Lima, ficou...",https://twitter.com/KefaliVictor/status/120042...

In [23]:
data.isnull()

       source  target   text    url
0       False   False  False  False
1       False   False  False  False
2       False   False  False  False
3       False   False  False  False
4       False   False  False  False
...       ...     ...    ...    ...
13701   False   False  False  False
13702   False   False  False  False
13703   False   False  False  False
13704   False   False  False  False
13705   False   False  False  False

[13706 rows x 4 columns]

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13706 entries, 0 to 13705
Data columns (total 4 columns):
source    13706 non-null object
target    13706 non-null object
text      13706 non-null object
url       13706 non-null object
dtypes: object(4)
memory usage: 428.4+ KB

In [25]:
data[pd.isnull(data).any(axis=1)]

Empty DataFrame
Columns: [source, target, text, url]
Index: []

In [26]:
data = data.dropna()

In [27]:
data[pd.isnull(data).any(axis=1)]

Empty DataFrame
Columns: [source, target, text, url]
Index: []

In [28]:
data_query_titulos = data[data['text'].str.contains('#OBrasileiroJáGanhamos7')]

In [29]:
data_query_titulos.head()

,source,target,text,url
83,talitapqs,Flamengo,Aquele 😘 nela!!! #OBrasileiroJáGanhamos7\n\n📸 ...,https://twitter.com/talitapqs/status/120042007...
96,Celinofutsal03,Flamengo,"Bom dia, Nação! Logo mais, às 16h, o Mengão tr...",https://twitter.com/Celinofutsal03/status/1200...
116,FlamengueiroPB,Flamengo,Pega essa duplinha! 😍😍😍\n#OBrasileiroJáGanhamo...,https://twitter.com/FlamengueiroPB/status/1200...
137,_jota08,Flamengo,Aquele 😘 nela!!! #OBrasileiroJáGanhamos7\n\n📸 ...,https://twitter.com/_jota08/status/12004200443...
146,crf_marianna1,Flamengo,Aquele 😘 nela!!! #OBrasileiroJáGanhamos7\n\n📸 ...,https://twitter.com/crf_marianna1/status/12004...

In [30]:
data_query_titulos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2177 entries, 83 to 13694
Data columns (total 4 columns):
source    2177 non-null object
target    2177 non-null object
text      2177 non-null object
url       2177 non-null object
dtypes: object(4)
memory usage: 85.0+ KB

In [31]:
data_query_titulos.to_csv('titulos.csv', index=False)

In [32]:
data_query_marcelo_cortes = data[data['text'].str.contains('Marcelo Cortes')]

In [33]:
data_query_marcelo_cortes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1967 entries, 83 to 13694
Data columns (total 4 columns):
source    1967 non-null object
target    1967 non-null object
text      1967 non-null object
url       1967 non-null object
dtypes: object(4)
memory usage: 76.8+ KB

In [34]:
data_query_marcelo_cortes.to_csv('marcelo_cortes.csv', index=False)

In [42]:
data_query_gabigol = data[data['text'].str.contains('gabigol')]

In [41]:
data_query_gabigol.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 181 to 10238
Data columns (total 4 columns):
source    7 non-null object
target    7 non-null object
text      7 non-null object
url       7 non-null object
dtypes: object(4)
memory usage: 280.0+ bytes

In [39]:
data_query_gabigol.to_csv('gabigol.csv', index=False)